@font-face {
  font-family: 'Saint-Andrews';
  src: url('../fonts/JiZiJingDianXingKaiJianFan-Shan(GEETYPE-XingKaiGBT-Flash)-2.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chao-zi';
  src: url('../fonts/ChaoZiSheLingDuBengTaJianFan-Shan(CHAO-BengtaGBT-Flash)-2.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
